*{
  margin: 0;padding: 0;box-sizing: border-box;font-family: 'Roboto', sans-serif;
}
.heading{
  color: #a7a1a1;
  text-align: center;
  margin:10px;
}
.exp{
  font-family: 'Style Script', cursive;
}
.images{
  display: flex;
  justify-content: center;
}
.images img{
  margin: 10px 3px;
}